/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");



html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "Source Sans Pro", sans-serif; 
    overflow: hidden;
}

.material-icons {
    font-family: 'Material Icons'; 
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.outlined { font-family: 'Material Icons Outlined'; }
.material-icons.size-18 { font-size: 18px; }
.material-icons.size-24 { font-size: 24px; }
.material-icons.size-36 { font-size: 36px; }
.material-icons.size-48 { font-size: 48px; }
.material-icons.color-gray { color: rgba(0, 0, 0, 0.6); }

/* Estilos de la ventana fileupload */ 
.p-fileupload-buttonbar {
    border: 0px !important;
}รง

.p-fileupload {
    display: flex !important;
    align-items: center !important;
}

.p-fileupload-content {
    padding: 0px !important;
    flex:1;
}

.p-fileupload-row>div {
    flex: content !important;
}

.comment-fill:before {
    content: url('assets/images/comments.png');
}

.p-multiselect-header {
    display: none !important;
}

.p-datatable .p-datatable-thead>tr>th, .p-datatable .p-datatable-thead>tr.filter>th {
    text-align: left;
    padding: 0.65rem;
    border: 1px solid #babfc7;
    border-width: 0 0 1px 0;
    font-weight: 700;
    color: #000000de;
    background: #f8f8f8;
    transition: none;
}

.p-datatable .p-datatable-thead>tr.filter>th {
    padding: 0.4rem;
}

.h-1_5rem {
    height: 1.5rem;
}

.h-2_5rem {
    height: 2.5rem;
}

.p-datatable-scrollable .p-datatable-wrapper {
    position: relative;
    overflow: auto;
    border: 1px solid #babfc7;
}

.p-datatable .p-sortable-column.p-highlight {
    background: #f8f8f8;
    color: #000000de;
}

.h-1rem {
    height: 2rem!important;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr {
    cursor: pointer;
}

.p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
    background: rgba(200, 200, 255, 0.5);
}


.p-button.p-button-outlined {
    background-color: #f5f5f5;
    color: #12abdb;
    border: 0px solid #12abdb !important;
    height: 41px;
}



.ml-auto {
    margin-left: 10px!important;
}



.p-component {
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    font-size: 0.85rem !important;
    font-weight: 400;
}


.p-sidebar .p-sidebar-content {
    padding: 0rem; 
}

p-autocomplete {
    span {
        width: 100%;
        input { width: 100%; }
    }
}


.p-menuitem-link {
    height: 30px;
}

.p-multiselect {
    min-width: 9.7rem;
    width: 9.7rem;
    margin-left: 122px;
}


.context-menu-color-0 {
    height: 20px;
    width: 25px;
    border: solid 1px #909090;
    content: "\274c"; /* use the hex value here... */
}

.context-menu-color-1 {
    height: 20px;
    background-color: #7F7F7F;
    border: solid 1px #5F5F5F;
}

.context-menu-color-2 {
    height: 20px;
    background-color: #4472C4;
    border: solid 1px #2452A4;
}

.context-menu-color-3 {
    height: 20px;
    background-color: #FFC000;
    border: solid 1px #CF9000;
}


.context-menu-color-4 {
    height: 20px;
    background-color: #FF0000;
    border: solid 1px #CF0000;
}

.context-menu-color-5 {
    height: 20px;
    background-color: #FFFF00;
    border: solid 1px #CFCF00;
}

.context-menu-color-6 {
    height: 20px;
    background-color: #CCCCFF;
    border: solid 1px #ACACCF;
}

.context-menu-color-7 {
    height: 20px;
    background-color: #00B050;
    border: solid 1px #009030;
}   

.row-color-1 { background-color: #7F7F7F !important; }
.row-color-2 { background-color: #4472C4 !important; }
.row-color-3 { background-color: #FFC000 !important; }
.row-color-4 { background-color: #FF0000 !important; }
.row-color-5 { background-color: #FFFF00 !important; }
.row-color-6 { background-color: #CCCCFF !important; }
.row-color-7 { background-color: #00B050 !important; }